@page "/koordinator"
@using Musikfestival.Shared.Models
@using MongoDB.Bson
@using MongoDB.Driver
@inject HttpClient Http;
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStore
<nav class="navbar2 fixed-top navbar-expand-lg navbar-light" style="background-color: #917C5A">
    <a class="navbar-brand" style="color: black; font-size: 20px; padding-left: 20px; padding-right: 5px;" href="/profil">Min Profil</a>
</nav>

<link rel="stylesheet" href="css/UI/Admin.css" />

@if (vagterne == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <br />
    <h3>Alle vagter</h3>
    <button @onclick="() => OpretVagt()">Opret ny vagt</button>
    <table class="table">
        <thead>
            <tr>
                <th>Dato</th>
                <th>Lokation</th>
                <th>Prioritet</th>
                <th>Opgave</th>
                <th>Antal</th>
                <th>Beskrivlse</th>
                <th>Start</th>
                <th>Slut</th>
                <th>Rediger vagt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vagter in vagterne)
            {
                <tr>
                    <td>@vagter.Dato</td>
                    <td>@vagter.Lokation</td>
                    <td>@vagter.Rangering</td>
                    <td>@vagter.Type</td>
                    <td>@vagter.Antal</td>
                    <td>@vagter.Beskrivelse</td>
                    <td>@vagter.Start</td>
                    <td>@vagter.Slut</td>
                    <td>
                        @if (!isEditing || vagter != valgt)
                        {
                            <!-- Display non-editable fields -->
                            <button @onclick="() => StartEditing(vagter)" style="color:white; background-color: #191A3B;">Rediger</button>
                            <button @onclick="() => DeleteVagt(vagter.VagtId)" style="color:white; background-color: #FF0000;">Slet</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Display input fields for editing -->
    @if (isEditing || isEditing2)
        {
            <div>
                <p>Dato: <input @bind="valgt.Dato" /></p>
                <p>Lokation: <input @bind="valgt.Lokation" /></p>
                <p>Prioritet: <input @bind="valgt.Rangering" /></p>
                <p>Type: <input @bind="valgt.Type" /></p>
                <p>Antal: <input @bind="valgt.Antal" /></p>
                <p>Beskrivelse: <input @bind="valgt.Beskrivelse" /></p>
                <p>Start: <input @bind="valgt.Start" /></p>
                <p>Slut: <input @bind="valgt.Slut" /></p>
            @if (isEditing == true)
            {
                <button @onclick="() => UpdatePlan(valgt)">Gem</button>
            }
            else if (isEditing2 == true)
            {
                <button @onclick="() => CreatePlan(valgt)">Gem ny vagt</button>
            }
            <button @onclick="CancelEdit">Annuller</button>
        </div>
    }
}

@code {
    // Initialiser Vagter objekter "vagterne" så de respektive attributter kan læses og printes ud i en liste fra vores database > vagter.
    // Samt en liste af <Vagter> "valgte" så vi kan gemme objekterne og rykke rundt på dem på vagtplan siden.
    private Vagter[]? vagterne;
    private List<Vagter> valgte = new List<Vagter>();


    private bool isEditing = false;
    private bool isEditing2 = false;
    private Vagter valgt = new Vagter();
    private void StartEditing(Vagter vagt)
    {

        valgt = vagt;
        isEditing = true;
        isEditing2 = true;

    }

    public void OpretVagt()
    {
        isEditing2 = true;
    }

    public void CancelEdit()
    {
        isEditing = false;
        isEditing2 = false;
    }

    Vagter ReadVagter = new();
    private EditContext aEditContext;

    protected override async Task OnInitializedAsync()
    {
        aEditContext = new EditContext(ReadVagter);
        vagterne = await Http.GetFromJsonAsync<Vagter[]>("/api/vagter");
    }

    Vagter nyvagt = new();
    private async Task CreatePlan(Vagter nyvagt)
    {
        await Http.PostAsJsonAsync<Vagter>("/api/vagter", nyvagt);

        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        isEditing2 = false;
    }

    // Opret en ny instans af Vagter ved klik på HandleValidSubmit, og send hver af de valgte vagter til vores kollektion "vagter"

    Vagter vagt = new();
    private async Task UpdatePlan(Vagter vagt)
    {
        var response = await Http.PutAsJsonAsync("/api/vagter", vagt);
        // Gem ændringer, f.eks. ved at sende dem til serveren

        if (response.IsSuccessStatusCode)
        {
            isEditing = false;
        }
    }

    private async Task DeleteVagt(int vagtId)
    {
        var response = await Http.DeleteAsync($"/api/vagter/{vagtId}");

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        }
    }

}