@page "/profil"
@using Musikfestival.Shared.Models
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStore

<PageTitle>Profilside</PageTitle>

@code {
    private string storedUsername;
    private Bruger[]? brugere;
    private Bruger matchingUser;
    private bool isEditing = false; // Flag for at indikere, om redigering er aktiv

    protected override async Task OnInitializedAsync()
    {
        storedUsername = await localStore.GetItemAsync<string>("username");
        brugere = await Http.GetFromJsonAsync<Bruger[]>("/api/bruger");
        matchingUser = brugere.FirstOrDefault(user => user.Username == storedUsername);
    }

    private void StartEditing()
    {
        isEditing = true;

    }

    private async Task SaveChanges()
    {
        var response = await Http.PutAsJsonAsync("/api/bruger", matchingUser);
        // Gem ændringer, f.eks. ved at sende dem til serveren

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Changes saved successfully.");
            isEditing = false;
        }
        else
        {
            Console.WriteLine("Failed to save changes.");
            // Handle the failure, e.g., show an error message
        }
    }
}


<br />
<center><h1>Velkommen, @storedUsername</h1></center>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/UI/Profil.css" />
    <title>Container Box</title>
</head>

<body>
    @if (matchingUser != null)
    {
        <br />
        <div class="container-box">
            <h3>Kontaktoplysninger
                @if (isEditing)
                {
                    <button @onclick="SaveChanges" style="font-size: 15px;color:white; background-color: #061C59;">Gem ændringer</button>
                }
                else
                {
                    <img src="Billeder/Update.png" alt="Button Image" class="UpdateButton" style="width: 28px; height: 35px;" @onclick="StartEditing" />
                }
            </h3>
            @if (isEditing)
            {
                <p><b>Navn:</b> <input @bind="matchingUser.Navn" /></p>
                <p><b>Email:</b> <input @bind="matchingUser.Email" /></p>
                <p><b>Kontaktnummer:</b> <input @bind="matchingUser.Tlf" /></p>
                <p><b>Adresse:</b> <input @bind="matchingUser.Adresse" /></p>
            }
            else
            {
                <p><b>Navn:</b> @matchingUser.Navn</p>
                <p><b>Email:</b> @matchingUser.Email</p>
                <p><b>Kontaktnummer:</b> @matchingUser.Tlf</p>
                <p><b>Adresse:</b> @matchingUser.Adresse</p>
            }
        </div>
    }
</body>

<body>
    @if (matchingUser != null)
    {
        <br />
        <div class="container-box">
            <h3>Biografi</h3>
            @if (isEditing)
            {
                <p><b>@matchingUser.Type</b></p>
                <p><b>Om mig:</b> <input @bind="matchingUser.Beskrivelse" /></p>
            }
            else
            {
                <p><b>@matchingUser.Type</b></p>
                <p><b>Om mig:</b> @matchingUser.Beskrivelse</p>
            }
        </div>
    }
    <br />
</body>
